{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    
    <div id="kucing_1" class="card" style="width: 500px;">
        <img src="{% static 'kucing1.jpg' %}" class="card-img-top" alt="kucing" height="500px" width="500px">
        <div class="card-body">
            <p class="card-text">“What greater gift than the love of a cat.” <br> – Charles Dickens</p>
        </div>
    </div> <br><br>

    <div id="kucing_2" class="card" style="width: 500px;">
        <img src="{% static 'kucing2.jpg' %}" class="card-img-top" alt="kucing" height="500px" width="500px">
        <div class="card-body">
            <p class="card-text">“Time spent with a cat is never wasted.” <br> – Sigmund Freud</p>
        </div>
    </div> <br><br>

    <div id="kucing_3" class="card" style="width: 500px;">
        <img src="{% static 'kucing3.jpg' %}" class="card-img-top" alt="kucing" height="500px" width="500px">
        <div class="card-body">
            <p class="card-text">“Cats are intended to teach us that not everything in nature has a purpose.” <br> – Garrison Keillor</p>
        </div>
    </div> <br><br>

    <div id="kucing_4" class="card" style="width: 500px;">
        <img src="{% static 'kucing4.jpg' %}" class="card-img-top" alt="kucing" height="500px" width="500px">
        <div class="card-body">
            <p class="card-text">“Dogs come when they’re called; cats take a message and get back to you later.” <br> – Mary Bly</p>
        </div>
    </div> <br><br>

    <div id="kucing_5" class="card" style="width: 500px;">
        <img src="{% static 'kucing5.jpg' %}" class="card-img-top" alt="kucing" height="500px" width="500px">
        <div class="card-body">
            <p class="card-text">“An ordinary kitten will ask more questions than any five year old.” <br> – Carl Van Vechten</p>
        </div>
    </div> <br><br>

    <div id="kucing_6" class="card" style="width: 500px;">
        <img src="{% static 'kucing6.jpg' %}" class="card-img-top" alt="kucing" height="500px" width="500px">
        <div class="card-body">
            <p class="card-text">“One of my biggest fears is that I’m going to die alone in my home, and my cats will eat me because I am too dead to open their food cans.” <br> – Kelli Jae Baeli</p>
        </div>
    </div> <br><br>

    <div id="kucing_7" class="card" style="width: 500px;">
        <img src="{% static 'kucing7.jpg' %}" class="card-img-top" alt="kucing" height="500px" width="500px">
        <div class="card-body">
            <p class="card-text">"No matter how much the cats fight, there always seem to be plenty of kittens." <br> – Abraham Lincoln</p>
        </div>
    </div> <br><br>

    <div id="kucing_8" class="card" style="width: 500px;">
        <img src="{% static 'kucing8.jpg' %}" class="card-img-top" alt="kucing" height="500px" width="500px">
        <div class="card-body">
            <p class="card-text">“Cats have it all – admiration, an endless sleep, and company only when they want it.” <br> – Rod McKuen</p>
        </div>
    </div> <br><br>

    <div id="kucing_9" class="card" style="width: 500px;">
        <img src="{% static 'kucing9.jpg' %}" class="card-img-top" alt="kucing" height="500px" width="500px"> 
        <div class="card-body">
            <p class="card-text">"Curiosity killed the cat, and satisfaction brought it back." <br> – Eugene O’Neill</p>
        </div>
    </div> <br><br>

    <div id="kucing_10" class="card" style="width: 500px;">
        <img src="{% static 'kucing10.jpg' %}" class="card-img-top" alt="kucing" height="500px" width="500px">
        <div class="card-body">
            <p class="card-text">“Smelly cat. Smelly cat. What are they feeding you?” <br> – Phoebe Buffay</p>
        </div>
    </div>
{% endblock %}